.jumbotron{
	margin: 0px;
	max-height: 500px;
	border-radius: 0px;
}
.navbar{
	background-color: #CFCFCF;
	width: 100% !important;
	border-radius: 0px;
	max-height: 50px;
	margin-bottom: 0px;
	position: fixed;
	z-index: 10;
}
.navbar-nav{
	float: right;
}
.nav-bar:hover{
	background-color: rgb(220,220,220);
}
.navbar-brand{
	font-family: Lobster;
	font-size: 35px !important;
}

.text-primary{
	font-family: Fira Sans;
	color: #444;
}
.text-secondary{
	font-family: Gugi;
}
.jumbo-text{
	position: relative;
	font-family: Gugi;
	padding: 10%;
	text-align: justify;
	color: white;
	text-shadow: 6px 6px 15px rgb(0,0,0);
	font-size: 2.5em;
	z-index: 0;
}
.quote{
	font-family: Gugi !important;
	font-style: italic !important;
}
#profile{
	margin-top: 50px;
	z-index: 10; 
	background-image: url("bg2.jpeg");
	background-size: 100%;
	background-position: 0% 75%;
	max-height: 500px;
}
.dp{
	margin: auto;
	border-radius: 50%;
	width: 50%;
	box-shadow: 4px 3px 20px 3px;
}
.dp-box{
	vertical-align: center;
	margin-top: 50px;
}
@media screen and (max-width: 800px){
	.nav{
		display: none;
	}
	.navbar-brand{
		margin-left: 30%;
	}
}
.jumbo-text{
	position: 
}
#projects{
	background-image: url("2.jpeg");
	background-size: cover;
	background-position: 0% 25%;
	background-repeat: no-repeat;
	min-height: 500px;
}
.text-container{
	background: #CFCFCF;
}
.eg-box{
	width: 75%;
	height: 300px;
	border-radius: 5%;
	border: 5px;
	margin: 10%;
	display: inline-block;
	color: #fff;
	background-image: url("bg3.jpg");
	background-size: cover;
	z-index: 0;
}
.eg-box:hover{
	box-shadow: 1px 1px 20px 1px;
}
.title{
	font-family: Gugi;
	text-align: center;
	font-style: bold;
	padding: 10px;
}
.content{
	font-family: Fira Sans,Monospace;
	text-align: justify;
	padding: 1em;
}
#contact{
	min-height: 300px;
	background-image: url("bg3.jpg");
	background-size: cover;
}
.container-fluid{
	padding: 0px;
	margin: 0px;
	border-radius: 0px !important;
}
i.fa{
	position: relative;
	top: 14;
	left: 15.5;
}
.ic{
	width: 56px;
	height: 56px;
	border-radius: 50%;
	display: inline-block;
	margin-top:20%;
	background-color: white;
	color: black;
}